<p-card>
  <div class="flex justify-content-between align-items-center">
    <h1>Módulo de Municipios</h1>
    <div class="flex gap-2">
      <toggle-menu [path]="'municipios'"></toggle-menu>
      <p-button label="Agregar" icon="pi pi-plus" severity="contrast" (click)="visible = true"/>
    </div>

  </div>

  <div class="card">
    <p-table
      [value]="municipios"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      [totalRecords]="municipios?municipios.length:0"
    >
      <ng-template #header>
        <tr>
          <th style="width:25%">Código</th>
          <th style="width:25%">Nombre</th>
          <th style="width:25%">Departamento</th>
          <th style="width:25%">No. Distritos</th>
          <th style="width:25%">Acciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-dep >
        <tr>
          <td>{{ dep.codigo }}</td>
          <td>{{ dep.nombre }}</td>
          <td>{{ dep.departamento.nombre}}</td>
          <td>{{ dep.distritos? dep.distritos.length : 0}}</td>
          <td>
            <div class="flex gap-1">
              <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (onClick)="editar(dep)" pTooltip="Editar"
                        tooltipPosition="bottom" severity="contrast"/>
              <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (onClick)="eliminar($event, dep.id)"
                        pTooltip="Eliminar"
                        tooltipPosition="bottom" severity="contrast"/>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>

<municipio-formulario [municipio]="municipio" [visible]="visible"
                         (onHide)="visible=$event; municipio={}"
                         (onSave)="actualizarLista($event)"></municipio-formulario>

<p-confirmDialog/>
<p-toast/>


