<div class="card flex justify-center">
  <p-card>
    <p-menu [model]="items" styleClass="w-full border-none ">
      <ng-template #item let-item>

        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="||p-menu-item-link ">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <a [href]="item.url" class="p-menu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-template>
      </ng-template>

    </p-menu>
  </p-card>
</div>
